@media only screen and (max-width: 800px) {
    .activity-category {
        display: flex;
        flex-direction: column;
    }

    .activity {
        width: 100%;
    }

    .category-title {
        padding-inline: 30px;
    }
}

@media only screen and (min-width: 801px) {
    .activity-category {
        overflow: auto;
        white-space: nowrap;
    }

    .activity {
        width: 400px;
    }

    .activity {
        display: inline-block;
        margin-inline: 10px;
    }

    .category-title {
        padding-inline: 40px;
        margin-top: 50px;
    }
}

.activity-category {
    margin: 20px;
    padding: 10px;
    gap: 50px;
    align-items: center;
}

h4, p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.activity {
    aspect-ratio: 3 / 2;
}

.activity > img {
    height: 80%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    object-fit: cover;
}

.activity-function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}