body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    width: 100%;
    padding: 0;
}

#header-content {
    padding: 5% 0;
    display: grid;
    width: 100%;
    background-color: inherit;
}

.header-item {
    grid-area: 1 / 1;
}

#header-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#search-icon {
    padding: 0;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#search-icon > button {
    background-color: transparent;
    border: none;
    width: 9%;
}

#content {
    margin-top: 5%;
    margin-bottom: 20px;
}

#informations {
    padding-top: 5%;
    padding-left: 5%;
}

#pfp-image {
    width: 37.5%;
    height: auto;
}

#text-infos {
    padding: 2.5% 0;
}

.text-info {
    padding: 0.5% 0;
}

#edits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.edit-button {
    margin: 0 1.5%;
    width: 45%;
}

#edit-profile {
    border: none;
}

#bookings {
    padding: 8.5% 5%;
}

#booking-items {
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.booking-item {
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.booking-item-picture {
    width: 25%;
    height: auto;
}

.booking-item-infos {
    padding-left: 5%;
}

.booking-item-name {
    font-weight: 500;
}

.booking-item-order-status, .booking-item-date {
    font-weight: 400;
}

.action-link {
    text-align: center;
    padding: 10px;
}