* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

p.selected {
    font-weight: bold;
}

html {
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --light-grey: #fafafa;
    --less-light-grey: #edf0f2;
}

.grey-background {
    background-color: var(--light-grey);
}

.header {
    height: 70px;
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
}


.search-box {
    display: flex;
    align-items: center;
    height: 25px;
    background-color: var(--less-light-grey);
    padding: 10px;
    border-radius: 15px;
    width: min(90%, 600px);
    gap: 10px;
}

.search-box > input {
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
}

.search-box > img {
    height: 80%;
    filter: brightness(150%);
}

.header-left { 
    display: flex;  
    align-items: center;
}

.button {
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 2.5% 0;
    cursor: pointer;
}

.blue-button {
    background-color: #617afa;
    color: white;
}
