.header {
    flex-direction: column;
    height: inherit;
}

.header-left {
    width: 100%;
}

.top-navbar {
    display: none;
}

.logo {
    background-color: var(--light-grey);
    width: 100%;
    text-align: center;
    padding-block: 30px;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    padding: 4% 0 1%;
    border-top-style: solid;
    border-top-width: 5%;
    border-top-color: #edf0f2;
    padding-bottom: 40px;
}

.bottom-navbar > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    gap: 10px;
    width: 25%;
    text-decoration: none;
    color: black;
}

.bottom-navbar > a > img {
    height: 50%;
}

.bottom-navbar > a > p {
    text-align: center;
    font-size: 15px;
}